.App {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.CalcContainer {
  width: 400px;
  height: 500px;
  border: 5px solid black;
  margin : auto;
  margin-top: 250px;
}

.DispContainer {
  border: 5px solid black;
  height: 100px;
  background-color: gray;
  padding: 1px;
  background-color: wheat;
  color: orange;
  padding: 3px;
}

.ButtonsContainer {
  background-color: black;
  border: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 390px;
  padding-left: 12px;
  padding-top: 30px;
}

.ButtonsContainer button {
  background-color: white;
  color: black;
  font-size: 2em;
  border-radius: 10px; 
  height: 4rem;
  width: 5rem;
}


.Display {
  font-size: 3em;
  color: black;
  text-align: right;
  padding-top: 5px;
  padding: 5px;
}